/* HTML */ 

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

/* Nav */

nav {
    background-color: rgba(3, 3, 3, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    color: white;
}

nav h1 {
    align-self: center;
    font-size: 40pt;
}

nav>ul {
    display: flex;
    padding: 0;
    flex-grow: 1;
    justify-content: space-around;
}

nav ul ul {
    display: none;
    position: absolute;
    left: 72%;
    top: -1px;
    margin: 0px;
    padding: 0px;
    color: black;
}

.niveau1 {
    margin: 0;
}

nav li {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    list-style-type: none;
    position: relative;
    width: 180px;
    padding: 10px;
    margin: 0px;
    background: rgb(192, 192, 192, 0.5);
    z-index: 2;
    font-size: 15pt;
}

nav li.princ {
    justify-content: center;
    background: none;
}

nav li:hover ul.niveau2 {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
}

nav li li:hover ul.niveau3 {
    display: inline-block;
    padding-left: 55px;
}

.fixfontnav {
    font-family: 'Pacifico', cursive;
    font-size: 40pt;
    text-align: center;
}

/* Produit */

#mainproduit{
    padding-left: 2%;
}
.sectionproduit{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
}
.imgproduct{
    width: 20%;
    padding-right: 2%;
}
.articleproduitup{
    background-color: aqua;
    display: flex;
}
.articleproduitdown{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
.divproduitup{
    display: flex;
    flex-direction: column;
}
.submitimg{
    width: 5%;
}
#notation{
    display: flex;
    background-color: burlywood;
    align-items: center;
}
.etoile{
    width: 2%;
}
.sectionnotation{
    display: flex;
    background-color: cadetblue;
    flex-direction: column;
}
.articlenotationup{
    display: flex;
    justify-content: space-between;
}
.articlenotationdown{
    display: flex;
    justify-content: space-between;

}