/* HTML */

html {
    display: flex;
    flex-direction: column;
    height: 150%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    justify-content: space-evenly;
    align-items: center;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    justify-content: space-between;
    border: 2px solid black;
    /* à retirer */
}

header section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-grow:0.4;
    align-items: flex-end;
}

header aside img{
    height:11vh;
    width:15vh;
}

header form {
    margin-bottom: 15px;
}

/* Nav */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: space-around;
}

nav ul ul {
    display: none;
    position: absolute;
    left: 72%;
    top: -1px;
    margin: 0px;
    padding: 0px;
    color: black;
}

nav li {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    list-style-type: none;
    position: relative;
    width: 180px;
    background: rgb(121, 121, 121);
    padding: 10px;
    margin: 0px;
    z-index: 2;
    font-size: 15pt;
}

nav ul li:last-child {
    border-radius: 0px 0px 20px 20px;
}

nav ul li:first-child {
    border-radius: 20px 20px 0px 0px;
}

nav li.princ {
    justify-content: center;
    background: none;
}

nav li:hover ul.niveau2 {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
}

nav li li:hover ul.niveau3 {
    display: inline-block;
    padding-left: 56px;
}

nav ul li li:first-child>a:after {
    content: '';
    position: absolute;
    left: 87px;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #444;
}

nav ul ul li li:first-child a:after {
    left: -13px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 13px solid #444;
}

nav li li:hover>a {
    color: #fafafa;
}

nav li.princ:hover {
    background: rgb(121, 121, 121);
    border-radius: 20px;
}

/* Produit */

#mainproduit {
    padding-left: 2%;
}

.sectionproduit {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
}

.imgproduct {
    width: 20%;
    padding-right: 2%;
}

.articleproduitup {
    background-color: aqua;
    display: flex;
}

.articleproduitdown {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.divproduitup {
    display: flex;
    flex-direction: column;
}

.submitimg {
    width: 5%;
}

#notation {
    display: flex;
    background-color: burlywood;
    align-items: center;
}

.etoile {
    width: 2%;
}

.sectionnotation {
    display: flex;
    background-color: cadetblue;
    flex-direction: column;
}

.articlenotationup {
    display: flex;
    justify-content: space-between;
}

.articlenotationdown {
    display: flex;
    justify-content: space-between;
}

/* Panier */

#mainpanier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
}

table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}

table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.imgpanier {
    width: 5%;
}

.deletepanier {
    width: 3%;
}

/* validation panier */

#mainvalidation {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* form module_co */

.module_co {
    display: flex;
    flex-direction: column;
    flex-grow: 0.4;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
}

.module_co a {
    text-decoration: underline overline;
    text-underline-position: under;
    font-style: italic;
    color: black;
}

/* page profil */

.main_profil {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

.gestion_site {
    display: flex;
    flex-direction: column;
    flex-grow: 0.35;
    height: 90%;
    align-items: center;
    border-left: solid black 1px;
}

.gestion_site ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.8;
    padding: 0;
    width: 80%;
    justify-content: space-evenly;
}

.gestion_site li {
    list-style-type: none;
}

.profil {
    display: flex;
    flex-direction: column;
    flex-grow: 0.35;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.profil~.profil {
    border-left: solid black 1px;
}

.profil_form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
}

/* class div formulaire */

.input {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    justify-content: space-around;
    align-items: center;
}

.input input {
    text-align: center;
}

/* page categorie */

.categorie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
}

#categorie_user {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    justify-content: space-evenly;
    align-items: center;
}

#categorie_user figure {
    text-align: center;
}

#categorie_user article {
    display: flex;
    flex-direction: row;
    flex-grow: 0.8;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#categorie_user #accueil {
    display: flex;
    flex-basis: 20%;
    height: 55%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
}

#categorie_user #titre {
    display: flex;
    flex-direction: row;
    border: none;
}

#categorie_user div {
    display: flex;
    flex-basis: 20%;
    height: 45%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
}

#nop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.categorie form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid black 1px;
}

.categorie form div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.categorie img {
    height:11vh;
    width:12vh;
    border-radius: 10%;
}

/* a pagination */

.page {
    color: blue;
    text-decoration: underline;
}

.page:visited {
    color: purple;
    text-decoration: underline;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    justify-content: space-around;
    border: 2px solid black;
    /* à retirer */
}

footer aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-grow: 0.2;
    width: 50%;
    justify-content: space-around;
}

footer aside div {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

footer section {
    display: flex;
    flex-grow: 0.6;
    flex-direction: row;
    justify-content: space-around;
}

footer section article {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}

#border1 {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

#border2 {
    border-right: solid 1px black;
}

footer section article li {
    list-style-type: none;
}