@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* HTML */

html {
    display: flex;
    flex-direction: column;
    height: 150%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0;
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
/* Main */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(31, 31, 31);
    background-image: url(../img/css/background.jpg);
    background-position: fixed;
}


/* header */

header {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
    background-color: beige;
}

header section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Nav */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: space-around;
}

nav ul ul {
    display: none;
    position: absolute;
    left: 72%;
    top: -1px;
    margin: 0px;
    padding: 0px;
    color: black;
}

nav li {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    list-style-type: none;
    position: relative;
    width: 180px;
    background: rgb(199, 199, 178);
    padding: 10px;
    margin: 0px;
    z-index: 2;
    font-size: 15pt;
}

nav ul li:last-child {
    border-radius: 0px 0px 20px 20px;
}

nav ul li:first-child {
    border-radius: 20px 20px 0px 0px;
}

nav li.princ {
    justify-content: center;
    background: none;
}

nav li:hover ul.niveau2 {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
}

nav li li:hover ul.niveau3 {
    display: inline-block;
    padding-left: 56px;
}

nav ul li li:first-child>a:after {
    content: '';
    position: absolute;
    left: 87px;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #444;
}

nav ul ul li li:first-child a:after {
    left: -13px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 13px solid #444;
}

nav li li:hover>a {
    color: #fafafa;
}

nav li.princ:hover {
    background: rgb(199, 199, 178);
    border-radius: 20px;
}

/* Produit */

#mainproduit{
    padding-left: 2%;
    padding-right: 2%;
}
.sectionproduit{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
}
.imgproduct{
    width: 20vw;
    margin-right: 2%;
}
.articleproduitup{
    display: flex;
}
.articleproduitdown{
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
}
.divproduitup{
    display: flex;
    flex-direction: column;
}
#notation{
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.etoile{
    width: 2vw;
}
.sectionnotation{
    display: flex;
    width: 70vw;
    flex-direction: column;
    margin-top: 1%;
    border-style: solid;
    border-radius: 2px;
    padding-left: 1%;
    padding-right: 1%;
}
.articlenotationup{
    display: flex;
    justify-content: space-between;
}
.articlenotationdown{
    display: flex;
    justify-content: space-between;
}
.pnot{
    width: 10vw;
}
#formproduit{
    margin-top: 1%;
    margin-bottom: 1%;
}
input,select {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    outline: 0;

}
input:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
input:active {
	position:relative;
	top:1px;
}
/* Panier */
#mainpanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
table.blueTable {
    border: 1px solid beige;
    background-color: #EEEEEE;
    width: 50vw;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #f5f5dc;
    background: -moz-linear-gradient(top, #ffffff 0%, #ecece3 66%, beige 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ecece3 66%, beige 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ecece3 66%, beige 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: beige;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
.imgpanier{
    width: 5vw;
}
.deletepanier{
    width: 3vw;
}

/* validation panier */

#mainvalidation{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* form module_co */

.module_co {
    display: flex;
    flex-direction: column;
    flex-grow: 0.4;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
}

.module_co a {
    text-decoration: underline overline;
    text-underline-position: under;
    font-style: italic;
    color: black;
}

/* page profil */

.main_profil {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

.gestion_site {
    display: flex;
    flex-direction: column;
    flex-grow: 0.35;
    height: 90%;
    align-items: center;
    border-left: solid black 1px;
}

.gestion_site ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.8;
    padding: 0;
    width: 80%;
    justify-content: space-evenly;
}

.gestion_site li {
    list-style-type: none;
}

.profil {
    display: flex;
    flex-direction: column;
    flex-grow: 0.35;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.profil~.profil {
    border-left: solid black 1px;
}

.profil_form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
}

/* class div formulaire */

.input {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    justify-content: space-around;
    align-items: center;
}

.input input {
    text-align: center;
}

/* page categorie */

.categorie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
}

#categorie_user {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    justify-content: space-evenly;
    align-items: center;
}

#categorie_user article {
    display: flex;
    flex-direction: row;
    flex-grow: 0.8;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#categorie_user div {
    display: flex;
    flex-basis: 15%;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
}

.categorie form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid black 1px;
}

.categorie form div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.categorie img {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

/* a pagination */

.page {
    color: blue;
    text-decoration: underline;
}
.page:visited {
    color: purple;
    text-decoration: underline;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    flex-grow: 0.1;
    justify-content: space-around;
    border: 2px solid black;
    background-color: beige;
}

footer aside {
    display: flex;
    flex-grow: 0.2;
    justify-content: center;
}

footer section {
    display: flex;
    flex-grow: 0.6;
    flex-direction: row;
    justify-content: space-around;
}

footer section article {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}

#border1 {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

#border2 {
    border-right: solid 1px black;
}

footer section article li {
    list-style-type: none;
}